.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 450px;
    width: 800px;
}
.four_zero_four_bg h1{
    font-size:120px;
 }
